:root {
    --color-primary: #1D9B15;
    --color-primary-rgb: 29, 155, 21;
  }


  .dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: 0;
    display: none; /* Initially hidden */
}

.dropdown-submenu > .dropdown-menu.show {
    display: block; /* Displayed when toggled */
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block; /* Display on hover if needed */
}